/* Wrapper for description input. */
.descriptionInput
{
    width: 314px;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    line-height: 16px;
    padding-left: 1.5%;
}

/* Textarea to accept user text. */
.descTextbox
{
    border-style: none;
    width: 93%;
    height: 69%;
    background-color: var(--sub-box-colour);
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -42%);
    font-size: 15px;
    font-family: var(--p-font-family);
    font-weight: bold;
    resize: none;
    overflow-y: scroll;
    transition: 0.25s;

    &::-webkit-scrollbar
    {
        background-color: transparent;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: var(--webkit-scrollbar-thumb-colour);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track
    {
        background-color: var(--webkit-scrollbar-track-colour);
    }

    &:focus
    {
        outline: none;
        background-color: var(--focus-colour);
    }
}
