/* Rules for transaction description. */
.descriptionInput
{
    width: 314px;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    line-height: 16px;
    padding-left: 1.5%;
}

.descTextbox
{
    border-style: none;
    border-radius: 10px;
    width: 93%;
    height: 69%;
    background-color: rgb(206, 206, 206);
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -42%);
    font-size: 15px;
    font-family: var(--p-font-family);
    font-weight: bold;
    resize: none;

    overflow-y: scroll;

    &::-webkit-scrollbar
    {
        background-color: transparent;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: rgb(69, 69, 69);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track
    {
        background-color: grey;
        border-radius: 10px;
    }

    &:focus
    {
        outline: none;
        background-color: rgb(183, 183, 183);
    }
}
