.currentBalanceWrapper
{
    position: absolute;
    border-radius: 10px;
    background-color: var(--widget-back-colour);
    width: 350px;
    height: 130px;
}

.currentBalanceTitle
{
    text-align: center;
    margin: 10px;
}
/* Rules for cash amount elements. */
.cashAmountInput
{
    width: 320px;
    height: 45px;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    line-height: 16px;
}

.cashAmountLabel
{
    padding-left: 2%;    
}
