/* Wrap the title, label and input for cash amount. */
.startingBalanceWrapper
{
    position: absolute;
    border-radius: 10px;
    background-color: var(--widget-back-colour);
    width: 350px;
    height: 130px;
}

/* Title for component prompting the starting balance. */
.startingBalanceTitle
{
    text-align: left;
    padding-left: 10px;
    margin: 10px;
}

/* Prompts user the starting balance to set. */
.cashAmountLabel
{
    padding-left: 2%;    
}

/* Input box for cash amount. */
.cashAmountInput
{
    width: 320px;
    height: 45px;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    line-height: 16px;
}
