.transactionBoxTitle
{
    text-align: center;
    font-size: 20px;
}

.transactionBox
{
    border-style: solid;
    width: 400px;
    height: 330px;
}

/* Rules for the transaction option selection. */
.transactionTypeLabel
{
    padding-left: 2%;
}

.transactionOptionGroup
{
    border-style: solid;
    width: 320px;
    height: 45px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}
.transactionOption
{
    width: 150px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-family: var(--p-font-family);
    transition: 0.5s;
}

.incomeOption
{
    background-color: rgb(48, 192, 0);
    position: absolute;
    left: 2%;
    &:hover
    {
        background-color: rgb(15, 229, 0);
    }
}

.expenseOption
{
    background-color: rgb(195, 0, 0);
    position: absolute;
    left: 51.5%;

    &:hover
    {
        background-color: rgb(236, 0, 0);
    }
}

/* Rules for cash amount elements. */
.cashAmountInput
{
    border-style: solid;
    width: 320px;
    height: 45px;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    line-height: 16px;
}

.cashAmountLabel
{
    padding-left: 2%;    
}

.cashAmountTextbox
{
    border-style: none;
    border-radius: 20px;
    width: 88%;
    height: 50%;
    background-color: rgb(206, 206, 206);
    padding-left: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    font-size: 19px;
    font-family: var(--p-font-family);
    font-weight: bold;

    &:focus
    {
        outline: none;
        background-color: rgb(183, 183, 183);
    }
}

/* Rules for transaction description. */
.descriptionInput
{
    border-style: solid;
    width: 314px;
    height: 100px;
    left: 50%;
    transform: translate(-50%);
    position: relative;
    line-height: 16px;
    padding-left: 1.5%;
}

.descTextbox
{
    border-style: none;
    border-radius: 10px;
    width: 93%;
    height: 69%;
    background-color: rgb(206, 206, 206);
    padding: 5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -42%);
    font-size: 15px;
    font-family: var(--p-font-family);
    font-weight: bold;
    resize: none;

    overflow-y: scroll;

    &::-webkit-scrollbar
    {
        background-color: transparent;
        width: 10px;
    }

    &::-webkit-scrollbar-thumb
    {
        background-color: rgb(69, 69, 69);
        border-radius: 10px;
    }

    &::-webkit-scrollbar-track
    {
        background-color: grey;
        border-radius: 10px;
    }

    &:focus
    {
        outline: none;
        background-color: rgb(183, 183, 183);
    }
}

/* Transaction submit button. */
.submitButton
{
    position: relative;
    left: 50%;
    top: 4%;
    transform: translate(-50%);
    width: 170px;
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: var(--p-font-family);
    border-style: none;
    background-color: rgb(206, 206, 206);

    &:hover
    {
        background-color: rgb(173, 173, 173);
    }
}