/* Main transaction history window. */
.transactionEntry
{   
    border-radius: 10px;
    background-color: rgb(183, 183, 183);
    height: 60px;
    width: 95%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    flex-shrink: 0;
    white-space: nowrap;
    text-align: left;
    
    &::-webkit-scrollbar
    {
        background-color: transparent;
    }
}

/* Customise transaction entry contents. */
.amountDollars
{
    font-size: 20px;
    padding-top: 5px;
}

.datetime
{
    font-size: 15px;
    padding-right: 12px;
    text-align: right;
    position: relative;
    bottom: 30%;
}

.desc
{
    font-size: 15px;
    position: relative;
    bottom: 20%;
}

.amountDollars, .datetime, .desc
{
    font-family: var(--p-font-family);
    padding-left: 12px;
    padding-right: 12px;
}