/* Main wrapper to contain position all components of App. */
.appWrapper
{
    width: 850px;
    height: 585px;
    background-color: var(--app-back-colour);
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 10px;
    border-radius: 10px;
}