:root
{
    --p-font-family: monospace;
    --widget-back-colour: rgb(233, 233, 233);
    --sub-box-colour: rgb(206, 206, 206);
}

label
{
    font-size: 110%;
}
label, h1, h3
{
    font-family: var(--p-font-family);
}