:root
{
    --p-font-family: monospace;
    --widget-back-colour: rgb(233, 233, 233);
    --sub-box-colour: rgb(206, 206, 206);
    --webkit-scrollbar-thumb-colour: rgb(69, 69, 69);
    --webkit-scrollbar-track-colour: grey;
    
    --focus-colour: rgb(183, 183, 183);
    
    --green: rgb(48, 192, 0);
    --red: rgb(195, 0, 0);
}

label
{
    font-size: 110%;
}

h1, h3, button
{
    font-family: Arial;
}

label
{
    font-family: var(--p-font-family);
}