/* Wrapper for income and expense transaction options. */
.transactionOptionGroup
{
    width: 320px;
    height: 45px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

/* Transaction option label. */
.transactionOptionLabel
{
    padding-left: 2%;
}

/* Base styling for both the income and expense options. */
.transactionOption
{
    width: 150px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-family: var(--p-font-family);
    font-weight: bold;
    transition: 0.5s;
    user-select: none;
}

/* Income option when selected or unselected by user. */
.incomeOption
{
    background-color: var(--sub-box-colour);
    position: absolute;
    left: 2%;
    &:hover
    {
        background-color: var(--green);
    }
}
.incomeOptionSelected
{
    background-color: var(--green);
    position: absolute;
    left: 2%;
}

/* Expense option when selected or unselected by user. */
.expenseOption
{
    background-color: var(--sub-box-colour);
    position: absolute;
    left: 51.5%;

    &:hover
    {
        background-color: var(--red);
    }
}
.expenseOptionSelected
{
    background-color: var(--red);
    position: absolute;
    left: 51.5%;
}