/* Rules for the transaction option selection. */
.transactionOptionLabel
{
    padding-left: 2%;
}

.transactionOptionGroup
{
    width: 320px;
    height: 45px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.transactionOption
{
    width: 150px;
    border-radius: 20px;
    text-align: center;
    font-size: 20px;
    font-family: var(--p-font-family);
    transition: 0.5s;
    user-select: none;
}

.incomeOption
{
    background-color: var(--sub-box-colour);
    position: absolute;
    left: 2%;
    &:hover
    {
        background-color: var(--green);
    }
}

.incomeOptionSelected
{
    background-color: var(--green);
    position: absolute;
    left: 2%;
}

.expenseOption
{
    background-color: var(--sub-box-colour);
    position: absolute;
    left: 51.5%;

    &:hover
    {
        background-color: var(--red);
    }
}

.expenseOptionSelected
{
    background-color: var(--red);
    position: absolute;
    left: 51.5%;
}