/* Main transaction history window. */
.transactionHistory
{
    border-style: solid;
    height: 442px;
    width: 489px;
    position: absolute;
    top: 0%;
    left: 45.1%;
    text-align: center;
}

/* Display for all transactions made. */
.historyList
{
    border-style: solid;
    height: 365px;
    width: 470px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}