/* Title for transaction box as a whole. */
.transactionBoxTitle
{
    text-align: left;
    padding-left: 20px;
}

/* Transaction box element for displaying options, cash amount and description. */
.transactionBox
{
    border-radius: 10px;
    background-color: var(--widget-back-colour);
    position: absolute;
    width: 350px;
    height: 315px;
    top: 46%;
}

/* Properties to unlock UI if server is online. */
.serverOnline
{
    pointer-events: all;
    opacity: 1.0;
}

/* Properties to lock UI if server is offline.*/
.serverOffline
{
    pointer-events: none;
    opacity: 0.5;
}