.transactionBoxTitle
{
    text-align: center;
    font-size: 20px;
}

.transactionBox
{
    border-radius: 10px;
    background-color: var(--widget-back-colour);
    position: absolute;
    width: 400px;
    height: 330px;
}

/* Transaction submit button. */
.submitButton
{
    position: relative;
    left: 50%;
    top: 4%;
    transform: translate(-50%);
    width: 170px;
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 15px;
    font-family: var(--p-font-family);
    border-style: none;
    background-color: var(--sub-box-colour);

    &:hover
    {
        background-color: rgb(173, 173, 173);
    }
}