.transactionBoxTitle
{
    text-align: center;
    font-size: 20px;
}

.transactionBox
{
    border-radius: 10px;
    background-color: var(--widget-back-colour);
    position: absolute;
    width: 350px;
    height: 315px;
    top: 46%;
}